body{
max-width: 100vw;
overflow-x: hidden;    
}

a{
  display: block;
  text-decoration:none;
  color: black;}


.img{
width:100%;
}

.ex2{
line-height: 1.6;
font-size:1.1em;
letter-spacing: -1px;
}




#title{
font-family: botanika-mono-web, monospace;
font-weight: 400;
font-style: normal;
}

#ex{
font-family: botanika-mono-web, monospace;
font-weight: 400;
font-style: normal;

width:90%;
}

#instagram{
position: relative;
top:0px;
left:93%;
width:5%;
font-family: botanika-mono-web, monospace;
font-weight: 400;
font-style: normal;
}

#A{

}

#B{
  margin-left: 8px;

}

#AB{
  display: grid;
  grid-template-columns: 55% 1fr;
}

#c{
  position: relative;
  top: 0px;
  left: 95%;
}





#E{
 
}

#F{
  margin-left: 8px;

}
#EF{
  display: grid;
  grid-template-columns: 55% 1fr;
}





#G{
}

#D{
  margin-left: 8px;
  height: 100%;

}

#GD{
  display: grid;
  grid-template-columns: 55% 1fr;
}






#J{
    width:100%;
    height:100%;
}






#M{

}

#N{
  margin-left: 8px;

}

#MN{
  display: grid;
  grid-template-columns: 55% 1fr;
}







#O{

}

#P{
  margin-left: 8px;

}

#OP{
  display: grid;
  grid-template-columns: 55% 1fr;
}





#Q{

}

#R{
  margin-left: 8px;

}

#QR{
  display: grid;
  grid-template-columns: 55% 1fr;
}





#S{

}

#T{
  margin-left: 8px;

}

#ST{
  display: grid;
  grid-template-columns: 55% 1fr;
}




#U{
    width:100%;
    height:100%;
}


#V{

}

#W{
  margin-left: 8px;

}

#VW{
  display: grid;
  grid-template-columns: 55% 1fr;
}


 
#num{
  position: relative;
  width: 100%;    
  top:0px;
  text-align: center;
  font-family: botanika-mono-web, monospace;
  font-weight: 400;
  font-style: normal;
}

.number{
  display: inline;
}











@media (max-width:700px) {
    
#B{
  margin-left: 0px;

}

#AB{
  display: block;
  
} 
    
#instagram{
left:82%;

}


}